:root {
  --background: #0d0d0d;
  --text: #f1f1f1;
  --accent: #00c2ff;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
